[submodule "antares"]
	path = antares
	url = git@github.com:nekromant/antares.git
[submodule "REM"]
	path = REM
	url = git@github.com:franzflasch/REM.git
[submodule "OE-Lite/bakery"]
	path = OE-Lite/bakery
	url = git@github.com:oe-lite/bakery.git
[submodule "toybox"]
	path = toybox
	url = https://github.com/landley/toybox.git
